<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>oCh01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
<!--   <servlet> 				서블릿 이름, 클래스 위치 선언
  	<servlet-name>GuGu</servlet-name>
  	<servlet-class>oCh01.GuGu</servlet-class>
  </servlet>
  
  <servlet-mapping>			서블릿 매핑의 servlet name은 선언과 같게
  	<servlet-name>GuGu</servlet-name>
  	<url-pattern>/GuGu</url-pattern>
  </servlet-mapping> -->
</web-app>